@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
    --gradient: linear-gradient(to top, #000046, #1cb5e0);
    --gradient1: linear-gradient(to top, #2c5364c4, #203a43cb, #0f2027c2);
    --url-img: url(../images/hero.jpg);
    --box-shadow: 6px 6px 10px rgba(0, 0, 0, .6);
    --width: 100%;
    --radius: 8px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    background-image: var(--gradient1), var(--url-img);
    background-position: center;
    background-size: cover;
}

.form {
    width: 400px;
    margin: 70px auto;
    background: rgba(255,255,255,.3);
    padding: 30px 20px 40px;
    text-align: center;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.input {
    width: var(--width);
    padding: 20px 15px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid cornflowerblue;
    outline: none;
}

.input, .form-enviar {
    font-family: inherit;
}

.form-title {
    margin-bottom: 40px;
    font-size: 2rem;
}

.form-mensaje {
    max-width: var(--width);
    min-width: var(--width);
    max-height: 120px;
    min-height: 120px;
}

.form-enviar {
    display: block;
    width: var(--width);
    font-size: 1.125rem;
    background-image: var(--gradient);
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: var(--radius);
    font-weight: 700;
    cursor: pointer;
}

.form-enviar:hover {
    background-image: var(--gradient1);
}