@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
:root {
    --padding-container: 80px 0;
    --color-primary: steelblue;
    --color-secondary: #1b998b;
    --color-bg: #fafafa;
    --align-title: center;
    --box-shadow: 0 0 12px rgba(0, 0, 0, .2)
}

body {
    font-family: 'Poppins', sans-serif;
}

/* CONTAINER */

.container {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: var(--padding-container);
}

/* HERO SECTION */

.hero {
    --padding-container:0;
    height: 100vh;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}

.hero-main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.hero-img {
    width: 45%;
    text-align: center;
    margin: 0;
}

.hero-pictre {
    max-width: 80%;
}

.hero-textos {
    width: 45%;
    color: white;
}

.hero-title {
    font-size: 3rem;
}

.hero-copy {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 1.5px;
}

/* ABOUT SECTION */

.title {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 40px;
    color: var(--color-primary);
    text-align: var(--align-title);
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-img {
    width: 45%;
    text-align: center;
    margin: 0;
}

.about-picture {
    width: 80%;
}

.about-textos {
    width: 50%;
    --align-title: left;
}

.about-parrafo {
    line-height: 1.5;
}

.about-cta {
    display: inline-block;
    margin-top: 20px;
    background: var(--color-primary);
    padding: 20px 40px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

.about-cta:hover {
    background: black;
    cursor: pointer;
}

/* PORTFOLIO SECTION */

.portfolio {
    background: var(--color-bg);
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 40 0;
    justify-content: space-evenly;
}

.portfolio-card {
    width: 27%;
    background: white; 
    height: auto;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.portfolio-picture {
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
    height: 200px;
    object-fit: cover;
}

.portfolio-textos {
    padding: 30px 20px 40px 20px;
}

.portfolio-title {
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-secondary);
}

.portfolio-parrafo {
    font-weight: 300;
    margin: 30px 0;
}

.portfolio-cta {
    display: block;
    background: var(--color-secondary);
    padding: 15px 0;
    border-radius: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 300;
}

/* COPY SECTION */

.copy {
    background: var(--color-primary);
}

.title--margin {
    --color-primary: white;
    margin: 0;
}

/* GALERIA SECTION */
.galeria-container {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria-picture {
    width: 30%;
    height: 250px;
    margin-bottom: 20px;
    display: block;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
}

