@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
:root {
    --padding-container: 80px 0;
    --color-primary: steelblue;
    --color-secondary: #1b998b;
    --color-bg: #fafafa;
    --align-title: center;
    --box-shadow: 0 0 12px rgba(0, 0, 0, .2)
}

body {
    font-family: 'Poppins', sans-serif;
}

/* CONTAINER */

.container {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: var(--padding-container);
}

/* HERO SECTION */

.hero {
    --padding-container:0;
    height: 100vh;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}

.hero-main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.hero-img {
    width: 45%;
    text-align: center;
    margin: 0;
}

.hero-picture {
    max-width: 80%;
}

.hero-textos {
    width: 45%;
    color: white;
}

.hero-title {
    font-size: 3rem;
}

.hero-copy {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 1.5px;
}

/* ABOUT SECTION */

.title {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 40px;
    color: var(--color-primary);
    text-align: var(--align-title);
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-img {
    width: 45%;
    text-align: center;
    margin: 0;
}

.about-picture {
    width: 80%;
}

.about-textos {
    width: 50%;
    --align-title: left;
}

.about-parrafo {
    line-height: 1.5;
}

.about-cta {
    display: inline-block;
    margin-top: 20px;
    background: var(--color-primary);
    padding: 20px 40px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

.about-cta:hover {
    background: black;
    cursor: pointer;
}

/* PORTFOLIO SECTION */

.portfolio {
    background: var(--color-bg);
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 40 0;
    justify-content: space-evenly;
}

.portfolio-card {
    width: 27%;
    background: white; 
    height: auto;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.portfolio-picture {
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
    height: 200px;
    object-fit: cover;
}

.portfolio-textos {
    padding: 30px 20px 40px 20px;
}

.portfolio-title {
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-secondary);
}

.portfolio-parrafo {
    font-weight: 300;
    margin: 30px 0;
}

.portfolio-cta {
    display: block;
    background: var(--color-secondary);
    padding: 15px 0;
    border-radius: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 300;
}

/* COPY SECTION */

.copy {
    background: var(--color-primary);
}

.title--margin {
    --color-primary: white;
    margin: 0;
}

/* GALERIA SECTION */
.galeria-container {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria-picture {
    width: 30%;
    height: 250px;
    margin-bottom: 20px;
    display: block;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
}

.lenguajes {
    background: var(--color-bg);
}

.lenguajes-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.lenguaje-pictures {
    width: 20%;
    height: 100px;
}

/* FOOTER SECTION */
.footer {
    background: var(--color-primary);
    color: white;
    text-align: center;
}

.footer-container {
    --color-primary: white;
    display: flex;
    justify-content: space-between;
}

.footer-textos {
    width: 50%;
}

.footer-icon {
    display: inline-block;
    font-size: 2rem;
    margin: 0 30px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    border: 1px solid ;
    border-radius: 50%;
}

.footer-icon.fab {
    line-height: 60px;
}

.footer-icon:hover {
    background: white;
    color: steelblue;
    cursor: pointer;
}

.footer-link {
    display: inline-block;
    color: white;
    margin: 0 20px;
    margin-bottom: 15px;
}

.footer-link:hover {
    text-decoration: none;
}

.footer-img {
    margin: 0;
    width: 35%;
}

.footer-picture {
    width: 90%;
}

@media screen and (max-width: 800px) {
    .hero {
        height: auto;
        min-height: 100vh;
        --padding-container: 40px 0;
    }

    .hero-main {
        justify-content: center;
    }
    
    .hero-img {
        width: 60%;
        margin-bottom: 30px;
    }

    .hero-picture {
        max-width: 85%;
    }

    .hero-textos {
        width: 100%;
    }
    
    .hero-title {
        font-size: 3.5rem;
        text-align: center;
    }

    /* SECTION ABOUT */

    .about-textos {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 80px;
        --align-title: center;
    }

    .about-img {
        width: 100%;
    }

    /* SECTION PORTFOLIO */

    .portfolio-card {
        width: 45%;
        margin-bottom: 30px;
    }

    /* SECTION GALERIA */

    .galeria-picture {
        width: 45%;
    }

    /* SECTION LENGUAJES */

    .lenguajes-container {
        justify-content: space-between;
    }

    /* FOOTER */

    .footer-container {
        flex-direction: column;
    }

    .footer-img {
        order: -1;
        width: 45%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .footer-picture {
        width: 100%;
    }

    .footer-textos {
        width: 100%;
    }

}

@media screen and (max-width: 550px) {
    .hero-img {
        width: 85%;
    }

    .hero-picture {
        max-width: 100%;
    }

    .hero-title {
        font-size: 2.8rem;
    }

    .hero-copy {
        font-size: 1rem;
    }

    .title {
        font-size: 2rem;
    }

    .about-textos {
        width: 100%;
    }

    .portfolio-card {
        width: 100%;
        max-width: 300px;
    }

    .galeria-picture {
        width: 100%;
        max-width: 300px;
    }

    .lenguajes-container {
        justify-content: space-around;
    }

    .lenguaje-pictures {
        width: 35%;
        margin-bottom: 30px;
    }

    .footer-img {
        width: 90%;
        max-width: 300px;
        margin-bottom: 40px;
    }
}