@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
    --color-price: #26293a;
    --color-caracteristicas: #9c9191;
    --color-boton: #fff;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.card {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(360deg, var(--color-price) 50%, #fff 50%);
    flex-wrap: wrap;
}

.card-item {
    max-width: 350px;
    width: 30%;
    box-shadow: 0 0 5px rgb(0, 0, 0, .5);
    text-align: center;
    padding: 40px 0;
    background: #fff;
    border-radius: 10px;
}

.card-item:hover {
    transform: translateY(-15px);
    cursor: pointer;
}

.card-item--active {
    background: #5175ff;
    --color-price: #fff;
    --color-caracteristicas: #fff;
    --color-boton: #26293a;
}

.card-plan {
    color: var(--color-price);
    margin-bottom: 20px;
}

.card-precio {
    font-size: 3rem;
    columns: var(--color-price);
}

.card-caracteristicas {
    color: var(--color-caracteristicas);
    margin-bottom: 25px;
}

.card-caracteristicas--margin {
    margin: 30px 0 50px;
}

.card-caracteristicas:nth-last-of-type(1) {
    margin-bottom: 50px;
}

.card-cta {
    display: inline-block;
    background: var(--color-price);
    color: var(--color-boton);
    width: 190px;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    border-radius: 40px;
}

@media screen and (max-width:800px) {
    .card {
        background: #fff;
    }
    .card-item {
        width: 45%;
        margin: 40px 0;
    }
}

@media screen and (max-width:500px) {
    .card-item {
        width: 90%;
    }
}