* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana;
}

.grid {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "header header header main main"
    "header header header sidebar sidebar"
    "footer footer footer footer footer";
}

.grid-item {
    font-size: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background: crimson;
    grid-area: header;
}

.main {
    background: steelblue;
    grid-area: main;
}

.sidebar {
    background: purple;
    grid-area: sidebar;
}

.footer {
    background: chocolate;
    grid-area: footer;
}

@media screen and (max-width:600px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "header header header"
        "main main sidebar"
        "footer footer footer";

    }
}

@media screen and (max-width:400px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "header header header"
        "main main main"
        "sidebar sidebar sidebar"
        "footer footer footer";
        gap: 0;

    }
}