@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

.fixed {
    width: 100%;
    height: 100vh;
    background-image: url(../images/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0.1px;
}

.titulo, p {
    color: floralwhite;
    font-size: 60px;
    text-align: center;
    margin-top: 200px;
    filter: drop-shadow(0 0 5px aqua);
}

p {
    margin-top: 0;
    font-size: 30px;
}

.space {
    margin-bottom: 3000px;
}