@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --height-nav: 70px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.nav {
    background: #143d64;
    height: var(--height-nav);
    color: white;
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-left: 1em;
}

.hero-main {
    display: flex;
    height: calc(100vh - var(--height-nav));
    align-items: center;
    /* justify-content: space-between; */
    min-height: 600px;
}

.hero-texts {
    flex:1;
}

.figure-picture {
    flex: 1;
}

.hero-img {
    width: 100%;
    max-width: 450px;
    display: block;
    margin: 0 auto;
}

.hero-title {
    font-size: 3rem;
}

.hero-parrafo {
    font-size: 1.5rem;
    font-weight: 300;
}

.hero-cta {
    background: #6c63ff;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 1.5em;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

@media screen and (max-width:900px) {
    :root {
        --height-nav: 100px;
    }

    .nav-container {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .hero-main {
        flex-direction: column;
        padding: 40px 0;
    }

    .figure-picture {
        order: -1;
    }

    .hero-img {
        max-width: 380px;
    }

    .hero-texts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .hero-parrafo {
        font-size: 1rem;
    }
}