* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

.header {
    width: 100%;
    height: 100vh;
    background-image:   linear-gradient(to bottom, #000428b0, #004e92ad), url(../images/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0.1px;
}

.titulo {
    color: aliceblue;
    font-size: 60px;
    font-family: verdana;
    text-align: center;
    margin-top: 320px;
}

.space {
    margin-bottom: 3000px;
}






