* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: Arial;
}

.lista {
    background-color: darkgoldenrod;
}

/* ul, ol {
padding: 0;
} */

ul {
    margin: 30px 0;
    list-style-image: url(../images/right-arrow-circle-regular-24.png);
    /* list-style-position: outside; */
    list-style-position: inside;
}

.figure {
    width: 250px;
    height: 400px;
    background: crimson;
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.imagen {
    width: inherit;
    height: inherit;
    object-fit: cover;
}