@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: 'Oxygen', sans-serif;
}

.card {
    display: flex;
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    justify-content: space-between;
    padding: 80px 0;
}

.card-item {
    background: #fff;
    width: 30%;
    min-height: 500px;
    overflow: hidden;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 32px -16px rgb(0, 0, 0, .5);
}

.card-item:hover {
    transform: translateY(-15px);
    transition: .2s;
    cursor: pointer;
}

.card-figure {
    height: 50%;
}

.card-img {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.card-parrafo {
    padding: .5em 0;
}

.card-cta {
    display: block;
    width: 150px;
    text-decoration: none;
    background: green;
    padding: 15px 30px;
    margin-top: 10px;
    color:#fff;
    border-radius: 3px;
    text-align: center;
    margin-top: auto;
}