*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fafafa;
}

.img{
    display: block;
    width: 400px;
    margin: 30px auto;
    /* box-shadow: 8px 8px 12px rgba(18,15,200,.5); */
    box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
    }
    
.box{
    width: 100px;
    height: 100px;
    background: steelblue;
    margin: 30px;
    /* box-shadow: h-offset v-offset blur spread color */
    /* box-shadow: 10px 10px 20px #12ff00; */
    /* box-shadow: 3px 3px 10px 3px #000; */
}