* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: Verdana;
}

.card {
    -webkit-box-shadow: 8px 8px 20px 0.75px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 8px 20px 0.75px rgba(0,0,0,0.75);
    box-shadow: 8px 8px 20px 0.75px rgba(0,0,0,0.75);
    width: 400px;
    margin: 40px auto;
    padding-bottom: 30px;
    border-radius: 8px;
}

.img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    display: block;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.titulo {
    color: #431011;
    text-align: center;
    margin: 10px 0;
}

.copy {
    text-align: center;
}

.cta {
    display: block;
    background: #431011;
    color: white;
    width: 150px;
    margin: 10px auto;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 6px;
}